*{
    margin: 0 px;
    padding: 0 px;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top:0 ;
    z-index: 10;
}
.navbar{
    font-size: large;
    background-color:whitesmoke;
    padding: 0px;
    margin-bottom: 0%;
}
.nav-link:hover {
    transform: translateY(-5px);
    transform: scaleY(1.15);
    
  }
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
    border-radius: 50%;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
.play-btn{
    width: 45px;
    margin: 20px;
}
#banner{
    background-color:#353638;
    color: #fff;
    padding: 0%;
}
#banner a{
    color: #fff;
    text-decoration: none;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin: top;
    
}
.bottom-img{
    width: 100%;
}
.img-fluid{
    border-radius: 30%;
    overflow: hidden;
    transition-duration: 7s;
    transition-property: transform;
}
.img-fluid:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.img-flui{
    border-radius: 30%;
    overflow: hidden;
    max-width: 97%;
        max-height: 90%;
        display: block; 
        margin-bottom: 0%;
}
.img-fluidd{
    border-radius: 30%;
    overflow: hidden;
    max-width: 140%;
        max-height: 60%;
        display: block; 
        padding-bottom: 0%;
        margin-bottom: 0%;
}

#services{
    padding: 80px 0;
}
.service-img{
    width: 120px;
    margin-top: 0px;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 50px;
    margin-top: 0px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background: #353638;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: #353638;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-color: #353638;
    text-align:center;
    
    

}
#about-us{
    background:white;
    padding-bottom: 0px;
    padding-top:0px ;
    margin-top:0px;
    margin: 0px;
    margin-left:20%;
    margin-right:10%;

}
.title h1{
    margin-left: 10px;
    font-size: large;
}
#testimonials{
    margin: 100px 0;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 0%;
    
}
.testimonials{
    border-left: 3px solid #353638;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 11px;
}
.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
    margin-left: 200px;
}
.user-details{
    display: inline-block;
    font-size: 12px ;
}




#social-media{
    background-color: #f8f9fa;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width: 50px;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-10px);
}
#footer{
    
    background-color: #353638;
    color:white;

}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.footer-box p{
    margin-left: 10px;
}
.rahul img{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-color: #353638;
}
.footer-box .form-control{
    box-shadow: none !important;
    border-radius: none ;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow: none !important;
    border-radius: none ;
    border-radius: 0;
    margin-top: 30px;
    background-color: #353638;
}
hr{
    background-color: #f8f9fa;
}
.copyright{
    margin-bottom: 0;
    padding-bottom:20px;
    text-align: center;

}
